# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.history/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

# Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Coverage reports
coverage/
coverage-report/
*.coverage
*.coveragexml
*.cobertura.xml

# Others
*.DS_Store
*.idea/
*.qodo/
*.vs/
.env
